# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.yarn*
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env*
!.env.example
.vscode
.idea
chakra-config.json
.turbo
.worktrees

# we use pnpm here
package-lock.json
yarn.lock

# pnpm local store (when store-dir is not redirected to /tmp)
.pnpm-store/

# logs
*-debug.log*
*-error.log*

# old translation files
*_old.json

# Local Netlify folder
.netlify
