<!DOCTYPE html>
<!-- commit sha: <%- commit %> -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />

    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" href="/logo128.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href="https://app.vocdoni.io" />
    <meta
      name="description"
      content="El personal docent és cridat a votar sobre el preacord del 29 de maig de 2026. Votació segura, secreta i verificable impulsada per USTEC·STEs, CGT i La Intersindical amb tecnologia de Vocdoni."
    />
    <meta
      name="keywords"
      content="digital voting, blockchain voting, Web2, voting, participatory budgeting, local governments, organizations, cooperatives, business, GDPR compliant, secure elections, user-friendly interface, cost-effective, mobile-friendly, multidevice, vote from anywhere"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Vocdoni" />

    <!-- Open Graph Protocol for Facebook -->
    <meta property="og:title" content="Consulta sobre el preacord del 29 de maig" />
    <meta
      property="og:description"
      content="El personal docent és cridat a votar sobre el preacord del 29 de maig de 2026. Votació segura, secreta i verificable impulsada per USTEC·STEs, CGT i La Intersindical amb tecnologia de Vocdoni."
    />
    <meta property="og:image" content="/assets/seguiment_consulta.png" />
    <meta property="og:url" content="https://app.vocdoni.io">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Consulta sobre el preacord del 29 de maig">

    <!-- Twitter Card -->
    <meta  property="twitter:title" content="Consulta sobre el preacord del 29 de maig" />
    <meta
      content="El personal docent és cridat a votar sobre el preacord del 29 de maig de 2026. Votació segura, secreta i verificable impulsada per USTEC·STEs, CGT i La Intersindical amb tecnologia de Vocdoni."
      property="twitter:description"
    />
    <meta property="twitter:image" content="/assets/seguiment_consulta.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@vocdoni">
    <meta name="twitter:creator" content="@vocdoni">

    <!-- Telegram -->
    <meta property="telegram:domain" content="https://app.vocdoni.io">
    <meta property="telegram:title" content="Consulta sobre el preacord del 29 de maig">
    <meta property="telegram:description" content="El personal docent és cridat a votar sobre el preacord del 29 de maig de 2026. Votació segura, secreta i verificable impulsada per USTEC·STEs, CGT i La Intersindical amb tecnologia de Vocdoni.">
    <meta property="og:telegram" content="Vocdoni App is here to transform your voting experience with a secure, transparent, and user-friendly platform, making it easy to vote from anywhere on any device. Explore more at https://app.vocdoni.io.">

    <!-- WhatsApp -->
    <meta property="og:whatsapp" content="Vocdoni App is here to transform your voting experience with a secure, transparent, and user-friendly platform, making it easy to vote from anywhere on any device. Explore more at https://app.vocdoni.io.">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
